:root {
  --first-color: #212121;
  --accent-color: #2196f3;
  --second-color: #757575;
  --other-color: #ffffff;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--first-color);
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

.button {
  cursor: pointer;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Стилизация header  */
.header {
  border-bottom: 1px solid #ececec;
}

.header-logo-link {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

/* Стилизация Nav */

.nav-item .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-color);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-list {
  display: flex;
}
.header-container {
  display: flex;
  align-items: center;
}

.nav-item .link:hover,
.nav-item .link:focus {
  color: var(--accent-color);
}
.nav-list .link-current {
  color: var(--accent-color);
}

.nav-list .link-current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  left: 0;
  bottom: 0;
}
/* Стилизация контактов */

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-item .link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--second-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-item .link:hover,
.header-item .link:focus {
  color: var(--accent-color);
}
.link-letter {
  display: flex;
  align-items: center;
}

.contact-letter {
  margin-right: 10px;
  fill: currentColor;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.contact-phone {
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 16px;
  transition-property: fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.link-letter:hover,
.link-letter:focus,
.contact-phone:hover,
.contact-phone:focus {
  fill: var(--accent-color);
}

/* Стилизация main */
.main {
  background: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/fon.jpg);
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--other-color);
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 696px;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
}

.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--other-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border-color: transparent;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.main-btn:hover,
.main-btn:focus {
  background-color: #188ce8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-list {
  display: flex;
}

.hero-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 10px;
}
.hero-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
  max-width: 270px;
}

.hero-icons {
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-item:not(:last-child) {
  margin-right: 30px;
}

.hero-antenna {
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.hero-list:not(:last-child) {
  margin-right: 30px;
}
/* Стилизация pre-about */
.pre-about {
  padding-bottom: 94px;
}
.pre-about-list {
  display: flex;
}

.pre-about-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.pre-about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 50px;
}

.pre-about-item {
  position: relative;
}
.pre-about-text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--other-color);

  text-transform: uppercase;
  text-align: center;
}

.pre-about-div {
  width: 100%;
  height: 70px;
  display: flex;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

/* Стилизация about */
.about {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.about-list {
  display: flex;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.about-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.about-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.about-border {
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-after-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  margin-bottom: 10px;
}
.about-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  margin-bottom: 16px;
}

.icons-about {
  display: flex;
  justify-content: center;
}
.icons-about-item {
  width: 44px;
  height: 44px;
  display: flex;
}
.icons-about-item:not(:last-child) {
  margin-right: 10px;
}

.icons-about-svg {
  width: 22px;
  height: 22px;
  fill: currentColor;
}

.icons-about-link {
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.icons-about-link:hover,
.icons-about-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* Стилизация clients */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--first-color);
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
}

.clients-link {
  width: 170px;
  height: 92px;
  border-color: #afb1b8;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition-property: border-color, color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-svg {
  fill: currentColor;
  width: 106px;
  height: 60px;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
/* Стилизация footer */

.logo-link:hover,
.logo-link:focus {
  color: grey;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
  display: block;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--other-color);

  display: block;
}
.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-link:hover,
.footer-link:focus {
  color: grey;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--other-color);
  display: block;
  margin-bottom: 20px;
  font-style: normal;
}

.footer-icons-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.footer-sotial {
  width: 44px;
  height: 44px;
}
.footer-sotial-link {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-sotial-link:hover,
.footer-sotial-link:focus {
  background-color: var(--accent-color);
}

.footer-sotial:not(:last-child) {
  margin-right: 10px;
}

.footer-svg {
  fill: var(--other-color);
  width: 20px;
  height: 20px;
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}
.footer-logos {
  margin-right: 70px;
}

.footer-form {
  display: flex;
  justify-content: flex-end;
  margin-left: 93px;
  flex-grow: 1;
}
.footer-text-form {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--other-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  outline: none;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
}

.footer-form-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--other-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #188ce8;
}

.footer-form-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-bottom: -6px;
}

/* Стилизация фильтров */

.filters-btn:hover,
.filters-btn:focus {
  color: var(--other-color);
  background-color: var(--accent-color);
}
.filters-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
  transition-property: box-shadow, color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.filters-btn:hover,
.filters-btn:focus {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 3px 2px rgba(0, 0, 0, 0.1);
}

/* Стилизация контенту */

.content {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.content-list {
  display: flex;
  flex-wrap: wrap;
}

.content-link {
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.content-link:hover,
.content-link:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0 4px 4px rgba(0, 0, 0, 0.06),
    0 1px 1px rgba(0, 0, 0, 0.12);
  display: block;
}

.content-item {
  width: 370px;
}

.content-border {
  background: var(--other-color);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.content-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.content-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color);
  margin-bottom: 4px;
}

.content-text {
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color);
  list-style: none;
}
.content-text-hidden {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--other-color);
  width: 322px;
  letter-spacing: 3%;
  padding-top: 63px;
  padding-left: 24px;
}

.content-div {
  position: relative;
  overflow: hidden;
}

.content-div-overlay {
  position: absolute;
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.content-item:hover .content-div-overlay,
.content-item:focus .content-div-overlay {
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: var(--other-color);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--other-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .modal-close:hover,
.modal-close:focus {
  border: 1px solid var(--accent-color);
} */

.modal-svg {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-svg:hover,
.modal-svg:focus {
  fill: var(--accent-color);
}

.backdrop .is-hidden .modal {
  transform: rotate(360deg);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-form {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: var(--first-color);
  text-align: center;
  margin-bottom: 12px;
}

.modal-lable {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: var(--second-color);
  margin-bottom: 4px;
}

.comments {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comments:hover,
.comments:focus {
  border: 1px solid var(--accent-color);
}

.comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
}

.modal-batton {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--other-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  letter-spacing: 6%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-batton:hover,
.modal-batton:focus {
  background-color: #188ce8;
}

.modal-link {
  border-bottom: 1px solid #188ce8;
  color: #188ce8;
  margin-left: 3px;
}

.div-check {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.modal-lables {
  font-weight: 400;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span-check {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid var(--first-color);
}

.svg-check {
  width: 16px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--other-color);
}

.input-check:checked + .modal-lables span {
  background-color: var(--accent-color);
  border: none;
}

.span-check {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked .svg-check {
  fill: var(--other-color);
}

.button-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div-forms {
  position: relative;
}

.svg-form {
  position: absolute;
  left: 12px;
  top: 55%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .svg-form,
.modal-input:focus + .svg-form {
  fill: var(--accent-color);
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--accent-color);
}
