.logo-link:hover,
.logo-link:focus {
  color: grey;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
  display: block;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.logo-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--other-color);

  display: block;
}
.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-link:hover,
.footer-link:focus {
  color: grey;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--other-color);
  display: block;
  margin-bottom: 20px;
  font-style: normal;
}

.footer-icons-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.footer-sotial {
  width: 44px;
  height: 44px;
}
.footer-sotial-link {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-sotial-link:hover,
.footer-sotial-link:focus {
  background-color: var(--accent-color);
}

.footer-sotial:not(:last-child) {
  margin-right: 10px;
}

.footer-svg {
  fill: var(--other-color);
  width: 20px;
  height: 20px;
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}
.footer-logos {
  margin-right: 70px;
}

.footer-form {
  display: flex;
  justify-content: flex-end;
  margin-left: 93px;
  flex-grow: 1;
}
.footer-text-form {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  color: var(--other-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 400;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  outline: none;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
}

.footer-form-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--other-color);
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.footer-form-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-bottom: -6px;
}
